.second-header {
  display: flex;
  justify-content: flex-end; /* This aligns items to the right */
}

.second-menu-01, .second-menu-02 {
  margin-left: 20px; /* Adds space between the menu items */
}