// *****************
// Global Variables
// *****************

// Spaces
$base-spacing-unit: 16px;

// Border radius
$global-radius: 22px;

// Transition
$global-transition: all .2s;


// *****************
// Typography
// *****************
$base-font-size: 18px;
$base-font-style: normal;
$base-font-variant: normal;
$base-font-weight: 600;
$base-font-family: 'Noto Sans', Arial, sans-serif; // 기본 폰트
$base-line-height: 1.6;

// Headings
$heading-font-weight: 700;
$heading-font-family: 'Noto Sans', Arial, serif; // 헤딩 폰트

$font-size-h1: 32px;
$font-size-h2: 28px;
$font-size-h3: 24px;
$font-size-h4: 20px;
$font-size-h5: 18px;
$font-size-h6: 16px;

$heading-line-height: 1.3;
$heading-letter-spacing: normal;

// 언어별 폰트 최적화 (Noto Sans 사용)
body[lang="ko-kr"] {
  $base-font-family: 'Noto Sans KR', Arial, sans-serif; // 한국어
}

body[lang="zh-cn"], body[lang="zh-tw"] {
  $base-font-family: 'Noto Sans SC', 'Noto Sans TC', Arial, sans-serif; // 중국어 간체 및 번체
}

body[lang="ja-jp"] {
  $base-font-family: 'Noto Sans JP', Arial, sans-serif; // 일본어
}

body[lang="ar-ae"] {
  $base-font-family: 'Noto Naskh Arabic', Arial, sans-serif; // 아랍어
}

body[lang="th-th"] {
  $base-font-family: 'Noto Sans Thai', Arial, sans-serif; // 태국어
}

body[lang="en-us"], body[lang="en-in"], body[lang="es-mx"], body[lang="fr-fr"], body[lang="de-de"], body[lang="pt-br"], body[lang="it-it"], body[lang="tr-tr"], body[lang="vi-vn"], body[lang="id-id"] {
  $base-font-family: 'Noto Sans', Arial, sans-serif; // 나머지 언어에 대해 Noto Sans 사용
}
