// _variables.scss 또는 main.scss 파일의 시작 부분

// SASS 변수를 CSS 변수로 매핑
$base-spacing-unit: var(--base-spacing-unit);
$global-radius: var(--global-radius);
$global-transition: var(--global-transition);

$base-font-size: var(--base-font-size);
$base-font-style: var(--base-font-style);
$base-font-variant: var(--base-font-variant);
$base-font-weight: var(--base-font-weight);
$base-line-height: var(--base-line-height);

$heading-font-weight: var(--heading-font-weight);
$heading-line-height: var(--heading-line-height);
$heading-letter-spacing: var(--heading-letter-spacing);
$font-size-h1: var(--font-size-h1);
$font-size-h2: var(--font-size-h2);
$font-size-h3: var(--font-size-h3);
$font-size-h4: var(--font-size-h4);
$font-size-h5: var(--font-size-h5);
$font-size-h6: var(--font-size-h6);

$base-font-family: var(--font-sans);

// 여기에 다른 필요한 변수들을 추가

:root {
  --base-spacing-unit: 16px;
  --global-radius: 22px;
  --global-transition: all 0.2s;

  --base-font-size: 18px;
  --base-font-style: normal;
  --base-font-variant: normal;
  --base-font-weight: normal;
  --base-line-height: 1.6;

  --heading-font-weight: 700;
  --heading-line-height: 1.3;
  --heading-letter-spacing: normal;
  --font-size-h1: 32px;
  --font-size-h2: 28px;
  --font-size-h3: 24px;
  --font-size-h4: 22px;
  --font-size-h5: 18px;
  --font-size-h6: 16px;

  --font-sans: 'Noto Sans', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  // 여기에 다른 폰트 변수들 추가