<div class="widget-sidebar widget-tags">
  <h3 class="widget-sidebar-title">{{ i18n "popular_topics" }}</h4>
    <!-- explore tags module -->
    <div class="explore-tags">
      <div class="tag-cloud">
        {{ range .Site.Taxonomies.tags.ByCount }}
        {{ $currCount := len .Pages }}
        <a href="{{ .Page.Permalink }}" style="font-size: 14px;">
          {{ i18n .Page.Title }} <span>({{ $currCount }})</span>
        </a>
        {{ end }}
      </div>
    </div>
    <!-- explore tags module -->
</div>