{{ if .Params.series }}
  {{ $series := .Params.series }}
  {{ $currentPageTitle := .Title }}
  <div class="widget-sidebar widget-series">
    <h3 class="widget-series-title">
      {{ T "Series" }}: 
      {{ $seriesTitle := $series }}
      {{ if reflect.IsSlice $series }}
        {{ $seriesTitle = index $series 0 }}
      {{ end }}
      {{ with T (lower $seriesTitle) }}{{ . }}{{ else }}{{ $seriesTitle }}{{ end }}
    </h3>
    
    <ul class="widget-series-list">
      {{ $seriesToUse := $series }}
      {{ if reflect.IsSlice $series }}
        {{ $seriesToUse = index $series 0 }}
      {{ end }}
      
      {{ $seriesPosts := where .Site.RegularPages "Params.series" "intersect" (slice $seriesToUse) }}
      {{ $seriesPosts := $seriesPosts.ByWeight }}
      {{ $seriesPosts := $seriesPosts.ByDate.Reverse }}
      
      {{ range $seriesPosts }}
        <li class="widget-series-item{{ if eq .Title $currentPageTitle }} widget-series-item--current{{ end }}">
          <a href="{{ .Permalink }}" class="widget-series-link">
            {{ $pageTitle := .Title }}
            {{ $lowercasePageTitle := lower $pageTitle }}
            {{ with T $lowercasePageTitle }}
              {{ . }}
            {{ else }}
              {{ with T $pageTitle }}
                {{ . }}
              {{ else }}
                {{ $pageTitle }}
              {{ end }}
            {{ end }}
          </a>
        </li>
      {{ end }}
    </ul>
  </div>
{{ end }}