{{ define "main" }}
<div class="container series-page series-list-page">
    <div class="row justify-content-center">
        <div class="col col-8 col-t-10 col-m-12">
            <h1 class="series-list-title">{{ .Title }}</h1>
            <ul class="series-list">
                {{ range .Pages.ByDate.Reverse }}
                <li class="series-list-item">
                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                </li>
                {{ end }}
            </ul>
            
            <!-- 페이지네이션 추가 -->
            {{ partial "pagination.html" . }}
        </div>
    </div>
</div>
{{ end }}