{{ define "main" }}
<div class="container series-page series-terms-page">
  <div class="row">
    <div class="col col-12">
      <h1 class="series-title">{{ T "Series" }}</h1>
    </div>
  </div>
  <div class="row">
    {{ range .Data.Terms.ByCount }}
    <div class="col col-4 col-d-6 col-t-12">
      <a href="{{ .Page.Permalink }}" class="series-item-link">
        <div class="series-item">
          <div class="series-content">
            <h2>
              {{ $title := .Page.Title }}
              {{ $lowercaseTitle := lower $title }}
              {{ with T $lowercaseTitle }}
                {{ . }}
              {{ else }}
                {{ with T $title }}
                  {{ . }}
                {{ else }}
                  {{ $title }}
                {{ end }}
              {{ end }}
            </h2>
            <p>{{ .Count }} {{ if eq .Count 1 }}{{ T "article" }}{{ else }}{{ T "articles" }}{{ end }}</p>
          </div>
        </div>
      </a>
    </div>
    {{ end }}
  </div>
</div>
{{ end }}