{{ define "main" }}
<!-- begin author -->
<section class="author">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="author__content">
          <div class="author__image"><img class="lazy" data-src="{{ .Params.image }}" alt="{{ .Params.name }}"></div>
          <h1 class="author__name">{{ .Params.name }}</h1>
          <div class="author__info">
            <span class="author__posts__count">{{ len .Pages }} {{ T "PostsCount" }}</span>
          </div>
          {{ if .Content }}
          <div class="author__description">{{ .Content }}</div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end author -->

<!-- begin posts -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="section__head">
          <h2 class="section__title">{{ T "LatestPosts" }}</h2>
        </div>
      </div>
    </div>
    <div class="row">
      {{ $paginator := .Paginate .Pages }}
      {{ range $paginator.Pages }}
      <div class="col col-4 col-d-6 col-t-12">
        {{ .Render "article" }}
      </div>
      {{ end }}
    </div>
  </div>
</section>
<!-- end posts -->

{{ partial "pagination.html" . }}

{{ end }}