<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head.html" . }}

<body {{ if .IsHome }}class="home-page"{{ end }}>

  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "WebSite",
      "name": "{{ .Site.Title }}",
      "url": "{{ .Site.BaseURL }}",
      "description": "{{ .Site.Params.description }}",
      "inLanguage": "{{ .Site.LanguageCode }}",
      "publisher": {
        "@type": "Organization",
        "name": "{{ .Site.Title }}",
        "logo": {
          "@type": "ImageObject",
          "url": "{{ "images/logo.png" | absURL }}"
        }
      },
      {{ with .Site.Params.alternatePageName }}"alternateName": "{{ . }}",{{ end }}
      {{ with .Site.Params.socialProfiles }}
      "sameAs": [
        {{ range $index, $profile := . }}
        {{- if $index }},{{ end }}
        "{{ $profile }}"
        {{- end }}
      ],
      {{ end }}
    }
    </script>

  <div class="second-header">
    <div class="second-menu-01">{{ partial "language-switcher.html" . }}</div>
    <div class="second-menu-02">{{ partial "toggle-theme.html" . }}</div>
  </div>

  {{ partial "schema/website.html" . }}

  {{ template "_internal/google_analytics.html" . }}

  <!-- begin global wrap -->
  <div class="global-wrap">

    {{ partial "header.html" . }}
  
    <!-- begin content -->
    <main class="content" aria-label="Content">
      {{ block "main" . }}{{ end }}
    </main>
    <!-- end content -->

    {{ partial "footer.html" . }}
  </div>
  <!-- end global wrap -->

  {{ partial "javascripts.html" . }}
</body>

</html>