{{ define "main" }}

<!-- begin page -->
<div class="container">

  <article class="page">
    <div class="page__head">
      <div class="page__info">
        <h1 class="page__title">{{ .Title }}</h1>
        {{ if .Params.description }}
        <div class="page__description">{{ .Params.description }}</div>
        {{ end }}
      </div>

      {{ if .Params.video_embed }}
      <div class="post-video">
        <div class="post-video__wrap">
          <iframe src="{{ .Params.video_embed }}" loading="lazy" width="640" height="360" frameborder="0"
            webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
      </div>
      {{ else }}
      {{ if .Params.image }}
      <div class="post-image">
        <img class="lazy" data-src="{{ .Params.Image | absURL }}" alt="{{ .Title }}">
      </div>
      {{ end }}
      {{ end }}
    </div>

    <div class="page__content">
      <div class="form-box">
        <div class="contact-head">
        {{ if .Description }}
          <div class="contact-description">{{ .Description }}</div>
        {{ else }}
          <div class="contact-description">{{ .Content }}</div>
        {{ end }}
        </div>
        <form class="form"
          action="{{ if .Site.Params.contact.email }}https://formspree.io/f/{{.Site.Params.contact.email}}{{ else }}#{{ end }}" method="POST">
          <div class="form__group">
            <label class="form__label screen-reader-text" for="form-name">{{ i18n "your_name_label" }}</label>
            <input class="form__input" id="form-name" type="text" name="name" placeholder="{{ i18n "your_name_placeholder" }}" required>
          </div>
          <div class="form__group">
            <label class="form__label screen-reader-text" for="form-email">{{ i18n "your_email_label" }}</label>
            <input class="form__input" id="form-email" type="email" name="_replyto" placeholder="{{ i18n "your_email_placeholder" }}" required>
          </div>
          <div class="form__group">
            <label class="form__label screen-reader-text" for="form-text">{{ i18n "your_message_label" }}</label>
            <textarea class="form__input" id="form-text" name="text" rows="4" placeholder="{{ i18n "your_message_placeholder" }}" required></textarea>
          </div>
          <div class="form__group">
            <button class="button button--big" type="submit">{{ i18n "send_message_button" }}</button>
          </div>
        </form>
      </div>
    </div>
  </article>

</div>
<!-- end page -->

{{ end }}