/* 간소화된 구글 프로그래머블 검색 엔진 커스텀 스타일 */
.gsc-control-cse {
    background-color: transparent !important;
    border: none !important;
    padding: 0 !important;
  }
  
  .gsc-search-box {
    max-width: 200px !important; /* 검색창 전체 너비 조정 */
  }
  
  .gsc-input-box {
    background-color: #333 !important; /* 어두운 배경에 맞춤 */
    border: 1px solid #444 !important;
    border-radius: 4px 0 0 4px !important;
    height: 30px !important; /* 높이 조정 */
  }
  
  input.gsc-input {
    color: #fff !important;
    padding: 5px 8px !important;
  }
  
  .gsc-search-button-v2 {
    background-color: #05BDBA !important;
    border: none !important;
    border-radius: 0 4px 4px 0 !important;
    height: 30px !important; /* 높이 조정 */
    padding: 5px 10px !important;
  }
  
  .gsc-search-button-v2:hover {
    background-color: #04a9a7 !important;
  }
  
  .gsc-search-button-v2 svg {
    width: 13px !important;
    height: 13px !important;
  }