.youtube-player {
    position: relative;
    cursor: pointer;
}
.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 68px;
    height: 48px;
    background-color: rgba(0,0,0,0.7);
    border-radius: 14px;
}
.play-button::before {
    content: "";
    border-style: solid;
    border-width: 15px 0 15px 26px;
    border-color: transparent transparent transparent white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}