<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Person",
      "name": "{{ .Params.name }}",
      "url": "{{ .Permalink }}",
      {{ if .Params.image }}"image": "{{ .Params.image }}",{{ end }}
      "description": {{ .Content | plainify | jsonify }},
      "sameAs": [
        {{ $socialLinks := slice }}
        {{ with .Params.website }}{{ $socialLinks = $socialLinks | append . }}{{ end }}
        {{ with .Params.facebook }}{{ $socialLinks = $socialLinks | append . }}{{ end }}
        {{ with .Params.twitter }}{{ $socialLinks = $socialLinks | append . }}{{ end }}
        {{ with .Params.instagram }}{{ $socialLinks = $socialLinks | append . }}{{ end }}
        {{ delimit $socialLinks ", " }}
      ]
    }
    </script>