<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "WebSite",
      "name": "{{ .Site.Title }}",
      "url": "{{ .Site.BaseURL }}",
      "description": "{{ .Site.Params.description }}",
      "inLanguage": "{{ .Site.LanguageCode }}",
      "publisher": {
        "@type": "Organization",
        "name": "{{ .Site.Title }}",
        "logo": {
          "@type": "ImageObject",
          "url": "{{ "images/logo.png" | absURL }}"
        }
      }
    }
    </script>