{{ $headers := findRE "<h[2-4].*?>(.|\n)*?</h[2-4]>" .Content }}
{{ $toc := slice }}
{{ range $headers }}
  {{ $level := int (index (findRE "[2-4]" . 1) 0) }}
  {{ $anchorId := index (findRE "id=\"(.*)\"" . 1) 0 | replaceRE "id=\"|\"" "" }}
  {{ $title := . | plainify }}
  {{ $toc = $toc | append (dict "Level" $level "AnchorID" $anchorId "Title" $title) }}
{{ end }}

{{ if ge (len $toc) 1 }}
  <aside class="toc" aria-label="{{ T "TableOfContents" }}">
    <h2>{{ T "TableOfContents" }}</h2>
    <nav id="TableOfContents">
      <ul>
        {{ template "toc-item" (dict "Items" $toc "PrevLevel" 2) }}
      </ul>
      {{ partial "schema/toc-breadcrumb.html" . }}
    </nav>
  </aside>
{{ else }}
  <p>{{ T "NoContentAvailable" }}</p>
{{ end }}

{{ define "toc-item" }}
  {{ $prevLevel := .PrevLevel }}
  {{ range .Items }}
    {{ if gt .Level $prevLevel }}
      <li><ul>
    {{ else if lt .Level $prevLevel }}
      {{ range seq (sub $prevLevel .Level) }}
        </ul></li>
      {{ end }}
    {{ else if ne $prevLevel 2 }}
      </li>
    {{ end }}
    <li>
      <a href="#{{ .AnchorID }}">{{ .Title }}</a>
    {{ $prevLevel = .Level }}
  {{ end }}
  {{ range seq (sub $prevLevel 2) }}
    </li></ul>
  {{ end }}
{{ end }}