{{ $siteLanguages := .Site.Languages }}
{{ $pageLang := .Page.Lang }}
{{ $pageURL := .Page.RelPermalink }}
<div class="lang-switcher">
  <div class="lang-switcher__dropdown">
    <button class="lang-switcher__dropbtn">
      {{ if eq .Site.Language.Lang "us" }} 🌐 {{ T "global" }}
      {{ else if eq .Site.Language.Lang "in" }}🇺🇸 English
      {{ else if eq .Site.Language.Lang "cn" }}🇨🇳 简体中文
      {{ else if eq .Site.Language.Lang "tw" }}🇹🇼 繁體中文
      {{ else if eq .Site.Language.Lang "mx" }}🇪🇸 Español
      {{ else if eq .Site.Language.Lang "ae" }}🇦🇪 العربية
      {{ else if eq .Site.Language.Lang "br" }}🇵🇹 Português
      {{ else if eq .Site.Language.Lang "jp" }}🇯🇵 日本語
      {{ else if eq .Site.Language.Lang "de" }}🇩🇪 Deutsch
      {{ else if eq .Site.Language.Lang "kr" }}🇰🇷 한국어
      {{ else if eq .Site.Language.Lang "fr" }}🇫🇷 Français
      {{ else if eq .Site.Language.Lang "vn" }}🇻🇳 Tiếng Việt
      {{ else if eq .Site.Language.Lang "it" }}🇮🇹 Italiano
      {{ else if eq .Site.Language.Lang "tr" }}🇹🇷 Türkçe
      {{ else if eq .Site.Language.Lang "id" }}🇮🇩 Bahasa Indonesia
      {{ else if eq .Site.Language.Lang "th" }}🇹🇭 ไทย
      {{ end }}
      ▾
    </button>
    <div class="lang-switcher__dropdown-content">
      {{ range .Page.AllTranslations }}
        {{ if ne .Language.Lang $pageLang }}
          <a href="{{ .Permalink }}" class="lang-switcher__link" lang="{{ .Language.Lang }}">
            {{ if eq .Language.Lang "us" }} 🌐 {{ T "global" }}
            {{ else if eq .Language.Lang "in" }}🇺🇸 English
            {{ else if eq .Language.Lang "cn" }}🇨🇳 简体中文
            {{ else if eq .Language.Lang "tw" }}🇹🇼 繁體中文
            {{ else if eq .Language.Lang "mx" }}🇪🇸 Español
            {{ else if eq .Language.Lang "ae" }}🇦🇪 العربية
            {{ else if eq .Language.Lang "br" }}🇵🇹 Português
            {{ else if eq .Language.Lang "jp" }}🇯🇵 日本語
            {{ else if eq .Language.Lang "de" }}🇩🇪 Deutsch
            {{ else if eq .Language.Lang "kr" }}🇰🇷 한국어
            {{ else if eq .Language.Lang "fr" }}🇫🇷 Français
            {{ else if eq .Language.Lang "vn" }}🇻🇳 Tiếng Việt
            {{ else if eq .Language.Lang "it" }}🇮🇹 Italiano
            {{ else if eq .Language.Lang "tr" }}🇹🇷 Türkçe
            {{ else if eq .Language.Lang "id" }}🇮🇩 Bahasa Indonesia
            {{ else if eq .Language.Lang "th" }}🇹🇭 ไทย
            {{ end }}
          </a>
        {{ end }}
      {{ end }}
    </div>
  </div>
</div>