{{ if .IsTranslated }}
    {{ $canonicalLang := .Site.Language.Lang }}
    {{ $canonicalPage := . }}
    {{ range .Translations }}
        {{ if lt .Language.Weight $.Site.Language.Weight }}
            {{ $canonicalLang = .Language.Lang }}
            {{ $canonicalPage = . }}
        {{ end }}
    {{ end }}
    <link rel="canonical" href="{{ $canonicalPage.Permalink }}">
{{ else }}
    <link rel="canonical" href="{{ .Permalink }}">
{{ end }}

{{ if .IsTranslated }}
    {{ range .Translations }}
        <link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}">
    {{ end }}
    <link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}">
    <link rel="alternate" hreflang="x-default" href="{{ .Site.Home.Permalink }}">
{{ end }}