{{ $paginator := .Paginator }}
{{ if gt $paginator.TotalPages 1 }}
<!-- begin pagination -->
<div class="container animate">
  <div class="pagination">
    <button class="load-more-posts button button--big">{{ T "LoadMorePosts" }}</button>
  </div>
</div>
<!-- end pagination -->
{{ end }}
<script>
var base_url = "{{ .Site.BaseURL }}",
    pagination_next_url = '{{ if $paginator.HasNext }}{{ $paginator.Next.URL }}{{ end }}',
    pagination_next_page_number = '{{ add $paginator.PageNumber 1 }}',
    pagination_available_pages_number = '{{ $paginator.TotalPages }}';
</script>