{{ $currentPage := . }}
{{ $relatedPosts := where .Site.RegularPages ".Params.tags" "intersect" .Params.tags }}
{{ $relatedPosts := where $relatedPosts "Permalink" "!=" $currentPage.Permalink }}
{{ $relatedPosts := where $relatedPosts ".Params.featured" true }}
{{ $relatedPosts := sort $relatedPosts ".Params.weight" }}
{{ $relatedPosts := first 4 $relatedPosts }}

{{ with $relatedPosts }}
<!-- begin related posts -->
<div class="container">
  <section class="related-posts">
    <div class="row">
      <div class="col col-12">
        <div class="container__inner">
          <div class="section__info">
            <div class="section__head">
              <h2 class="section__title">{{ i18n "related_posts" }}</h2> <!-- 번역 적용 -->
              {{ range first 1 ($currentPage.GetTerms "tags") }}
                <a href="{{ .Permalink }}" class="button">{{ i18n "view_all" }} <i class="ion ion-ios-arrow-forward"></i></a> <!-- 번역 적용 -->
              {{ end }}
            </div>
          </div>
          <div class="row">
            {{ range . }}
              <div class="col col-3 col-d-6 col-m-12">
                {{ partial "article.html" (dict "context" .) }}
              </div>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- end related posts -->
{{ end }}