{{ $related := first 4 ( where ( where .Site.Pages.ByDate.Reverse ".Params.tags" "intersect" .Params.tags ) "Permalink"
"!=" .Permalink ) }}
{{ with $related }}
<!-- begin related posts -->
<div class="container">
  <section class="related-posts">
    <div class="row">
      <div class="col col-12">
        <div class="container__inner">
          <div class="section__info">
            <div class="section__head">
              <h2 class="section__title">{{ i18n "relatedPostsTitle" }}</h2>
              {{ range first 1 ($.GetTerms "tags") }}
              <a href="{{ .Permalink }}" class="button">{{ i18n "viewAllButton" }} <svg
                  xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 512 512" fill="currentColor">
                  <path
                    d="M294.1 256L167 129c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.3 34 0L345 239c9.1 9.1 9.3 23.7.7 33.1L201.1 417c-4.7 4.7-10.9 7-17 7s-12.3-2.3-17-7c-9.4-9.4-9.4-24.6 0-33.9l127-127.1z" />
                </svg></a>
              {{ end }}
            </div>
          </div>
          <div class="row">
            {{ range . }}
            <div class="col col-3 col-d-6 col-m-12">
              {{ partial "article.html" (dict "context" . "i18n" $.Site.Params.i18n) }}
            </div>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- end related posts -->
{{ end }}