{{ if (.Site.Params.tags_section.enable) }}
  {{ $number_columns := 0 }}
  {{ if eq .Site.Params.tags_section.number_columns 1 }}
    {{ $number_columns = 12 }}
  {{ else if eq .Site.Params.tags_section.number_columns 2 }}
    {{ $number_columns = 6 }}
  {{ else if eq .Site.Params.tags_section.number_columns 3 }}
    {{ $number_columns = 4 }}
  {{ else if eq .Site.Params.tags_section.number_columns 4 }}
    {{ $number_columns = 3 }}
  {{ end }}
  {{ $number_posts := 0 }}
  {{ if .Site.Params.tags_section.number_posts }}
    {{ $number_posts = .Site.Params.tags_section.number_posts }}
  {{ else }}
    {{ $number_posts = 3 }}
  {{ end }}
  {{ range .Site.Params.tag }}
    {{ $tags_range := (site.Taxonomies.tags.Get .tag).Pages }}
    <!-- begin section-tags -->
    <section class="section section-tags animate">
      <div class="container">
        <div class="row">
          <div class="col col-12">
            <div class="section__inner">
              <div class="section__info">
                <div class="section__head">
                  <h2 class="section__title">
                    <a href="{{ "/tags/" | relLangURL }}{{ .tag | urlize }}" class="section__link">{{ T .tag }}</a>
                  </h2>
                  {{ if lt $number_posts $tags_range }}
                    <a class="button" href="{{ "/tags/" | relLangURL }}{{ .tag | urlize }}">
                      {{ T "ViewAll" }} <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 512 512" fill="currentColor"><path d="M294.1 256L167 129c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.3 34 0L345 239c9.1 9.1 9.3 23.7.7 33.1L201.1 417c-4.7 4.7-10.9 7-17 7s-12.3-2.3-17-7c-9.4-9.4-9.4-24.6 0-33.9l127-127.1z"/></svg>
                    </a>
                  {{ end }}
                </div>
              </div>
              <div class="row">
                {{ range $index, $element := first $number_posts $tags_range }}
                  <div class="col {{ if and (gt $.Site.Params.tags_section.number_columns 0) (le $.Site.Params.tags_section.number_columns 4) }}col-{{ $number_columns }} col-d-6 col-t-12{{ else }}col-4 col-d-6 col-t-12{{ end }}">
                    {{ partial "article.html" (dict "context" . "index" $index "language" $.Site.Language.Lang) }}
                  </div>
                {{ end }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end section-tags -->
  {{ end }}
{{ end }}