{{ $counter := add 1 (index .Page.Params "img_counter" | default 0) }}
{{ .Page.Scratch.Set "img_counter" $counter }}
{{ $image := .Page.Resources.GetMatch (.Get "src") }}
{{ $alt := .Get "alt" | default (printf "%s_%02d" .Page.Title $counter) }}
{{ $maxHeight := .Get "maxHeight" | default "500px" }}
<figure class="lazyload" style="max-width: 100%;">
  <img data-src="{{ with $image }}{{ .RelPermalink }}{{ else }}{{ .Get "src" }}{{ end }}" 
       alt="{{ $alt }}"
       width="100%"
       style="height: auto; max-height: {{ $maxHeight }}; object-fit: contain;"
       class="lazy">
  {{ with .Get "caption" }}
    <figcaption>{{ . }}</figcaption>
  {{ end }}
</figure>